.about-p {
    color: #FF6060;
    font-size: 24px;
    background-color: #F6F6F6;
    margin: 0;
    padding: 36px 27px 19px 18px;
}

.accomodation-p {
    list-style: none;
    color: #FF6060;
    font-size: 18px;
    background-color: #F6F6F6;
    margin: 0;
    padding: 36px 27px 19px 18px;
}



.dropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    color: white;
    padding: 0 18px;
    border-radius: 5px;
    margin: 0;
    height: 47px;
}



.about-h {
    margin: 0;
    font-size: 24px;
}

.accomodation-h {
    margin: 0;
    font-size: 18px;
}


.chevron {
    height: 23.86px;
}

/* Media queries */
@media (width <=992px) {

    .bar {
        height: 30px;
    }

    .chevron {
        height: 9px;
    }

    .about-p {
        font-size: 12px;
        background-color: #F6F6F6;
        margin: 0;
        padding: 17px 7px 52px 11px;
    }

    .accomodation-p {
        font-size: 12px;
        background-color: #F6F6F6;
        margin: 0;
        padding: 17px 7px 1px 11px;
    }

    .about-h,
    .accomodation-h {
        font-size: 13px;
    }

}