.card {
    display: flex;
    flex-direction: column;
    height: 340px;
    background-color: #FF6060;
    border-radius: 10px;
    position: relative;
}

.background {
    background: linear-gradient(#FFF, #000 50%);
    height: 340px;
    border-radius: 10px;
}

.cover {
    height: 340px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.7;
}

.link {
    text-decoration: none;
    color: white;
}

.title {
    display: flex;
    align-items: flex-end;
    margin: 20px;
    height: 45px;
    color: white;
    font-family: #FF6060;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    top: 250px;
}

@media (width <=992px) {

    .card {
        height: 255px;
        width: 100%;
    }

    .background {
        height: 255px;
    }

    .cover {
        height: 255px;
        width: 100%;
    }

}