/*

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error {
    font-weight: 700;
    font-size: 288px;
    color: #FF6060;
    margin-top: 174px;
}

.message {
    font-weight: 500;
    font-size: 36px;
    color: #FF6060;
    margin-top: 66px;
}

.link {
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
    margin-top: 182px;
}

*/

.main {
    display: grid;
    grid-area: main;
    grid-template-areas:
        "error"
        "message"
        "link";
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
}

.error {
    grid-area: error;
    align-self: center;
    justify-self: center;
    font-weight: 700;
    font-size: 288px;
    color: #FF6060;
    margin-top: 174px;
}

.message {
    grid-area: message;
    align-self: center;
    justify-self: center;
    font-weight: 500;
    font-size: 36px;
    color: #FF6060;
    margin-top: 66px;
}

.link {
    grid-area: link;
    align-self: center;
    justify-self: center;
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
    margin-top: 182px;
}