.main {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "banner"
        "articles";
    grid-template-columns: 1fr;
}

.banner {
    grid-area: banner;
    height: 223px;
    margin-top: 68.36px;
    background-color: black;
    border-radius: 25px;
}

.background {
    height: 223px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    opacity: 0.6;
}



.title {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    margin-top: -140px;
}



.list {
    grid-area: articles;
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    align-content: space-between;
    justify-content: center;
    gap: 50px 60px;
    list-style: none;
    background-color: #F7F7F7;
    margin-top: 43px;
    padding: 56px 50px 56px 50px;
    border-radius: 25px;
}

@media (width <=700px) {

    .banner {
        height: 111px;
        margin-top: 16px;
        background-color: black;
        border-radius: 10px;
    }

    .background {
        height: 111px;
        border-radius: 10px;
    }

    .title {
        font-size: 24px;
        margin-top: -90px;
        justify-content: left;
        padding-left: 16px;
    }

    .list {
        margin-top: 22px;
        padding: 0;
        background-color: white;
        gap: 20px;
    }

}