body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Todo : switch from flex to grid  
.container {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: auto;
  padding: 0 100px;
}

*/

.container {
  max-width: 1240px;
  padding: 0 100px;
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-columns: 1fr;
  margin: auto;
}

@media (width <=992px) {

  .container {
    padding: 20px;
  }

}