body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Todo : switch from flex to grid */
.container {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: auto;
  padding: 0 100px;
}