body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-columns: 1fr;
  max-width: 1240px;
  padding: 0 100px;
  margin: auto;
}

/* Media queries */
@media (width <=992px) {

  .container {
    padding: 20px;
  }

}